@page
@model Sverlov.UI.Areas.Admin.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Automobile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Automobile.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Automobile.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Automobile.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Automobile.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Automobile.LiftingCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Automobile.LiftingCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Automobile.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Automobile.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Automobile.parsedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Automobile.parsedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Automobile.TheTransportType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Automobile.TheTransportType.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Automobile.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
